services:
  flask-app:
    image: flask-running-app:v2.0
    build:
      context: flask-app
      dockerfile: Dockerfile
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - flask-app